body {
    margin: 0 10px 0 10px;
}

#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', serif;
    font-size: 16px;
}
div.encabezado {
    background-image: url(../imgs/textura.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: 800;
    padding: 0px;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.encabezado img {
    left: 0;
    width: 25%;
    max-width: 100px;
    padding: 10px;
}

div.encabezado p {
    display: inline-block;
    margin: 0;
    width: 75%;
}

div.menu {
    width: 80%;
    transform: translateX(15%);

    background-color: #a77e58;
    color: #ffff;
    font-family: 'Helvetica', sans-serif;

    border-radius: 50px 0 50px 0;
    height: 4em;
    max-height: 50px;
}

div.menu ul {
    margin: 2px;
    position: relative;
    top: 10px;
    padding: 0 20px 0 20px;
}

div.menu ul li {
    display: inline-block;
    margin-left: 10px;
}


div.menu ul li a {
    background-color: #a77e58;
    color: #ffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.4s;
}

div.menu ul li a:hover {
    /* background-color: #8b6f47; */
    border-bottom: #fff8f0 solid 4px;
    transition: all 0.4s;
}

div.contenido {
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;
    float: left;
    width: 70%;
    padding: 2px;
    margin: 2px;
    border-right: #5a3e36 solid 1px;


}

div.sidebar {
    float: right;
    width: 21%;
    height: 100%;
    padding: 10px;
    color: #5a3e36;
}

div.pie{
    /* background-color: #5a3e36; */
    background-image: url(../imgs/textura.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ecdcc6 ;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;
    content: none;
    padding: 10px 0 10px 0;
    clear: both;
}

div.pie nav {
    display: flex;
    justify-content: space-around;
}

div.pie nav a{
    color: #ecdcc6;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.6s;
}

div.pie nav a:hover{
    transform:scale(1.2);
}

div.pie p {
    padding: 10px;
    margin: 0;
}




@media (max-width: 935px){
    div.sidebar h2{
        font-size: 22px;
    }

}


@media (max-width: 575px){
    div.sidebar {
        width: 30%;
        font-size: 12px;
    }
    div.sidebar ul {
        padding-left: 20px;
    }

    div.contenido {
        width: 60%;
        padding: 5px;
    
    }

}
@media (max-width: 673px){
    div.menu {
        height: 4em;
        max-height: 4em;
    }
}

@media (max-width: 402px){
    div.menu {
        width: 100%;
        transform: translateX(0%);
        height: 4em;
        max-height: 4em;
    }
}

@media (max-width: 375px){
    div.encabezado {
        font-size: 30px;
    }
    div.contenido {
        width: 6;
        font-size: 14px;
    
    }

    div.sidebar {
        font-size: 12px;
        float: right;
        width: 29%;
        padding: 10px;
    }

}

@media (max-width: 325px){
    div.encabezado {
        border-radius: 0px 0px 20px 20px;
    }

    div.encabezado p {
        width: 100%;
        font-size: 20px;
    }

    div.encabezado img {
        width: 15%;
        padding: 1px;
        font-size: 20px;
    }

    div.menu {
        height: 6em;
        max-height: 6em;
    }

    div.pie nav a {
        padding: 5px;
        font-size: 16px;
    }
    div.pie p {
        font-size: 14px;
    }
}

@media (max-width: 335px){
    div.contenido {
        width: 90%;
        border: none;
    
    }

    div.sidebar {
        border-top: #5a3e36 solid 1px;
        width: 90%;
        padding: 10px;
    }
}


@media (max-width: 276px){
    div.menu ul li a {
        font-size: 15px;
        padding: 5px;
        transition: none;
    }

    div.menu {
        height: 7em;
        max-height: 7em;
    }

    div.menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.pie nav a {
        font-size: 12px;
    }
    div.pie p {
        font-size: 10px;
    }
}